// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../node_modules/css-loader/dist/runtime/sourceMaps.js";
import ___CSS_LOADER_API_IMPORT___ from "../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, `* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.passwordContainer {
  display: block;
  margin: auto;
  width: 30%;
  margin-top: 30px;
}
.passwordContainer img {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}

.passwordContainer h3 {
  margin-top: 30px;
}
.passwordContainer hr {
  border: 1px solid lightgray;
}
.passwordContainer  {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.passwordContainer button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #1778f2;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.passwordContainer input {
  margin-top: 10px;
  padding: 14px;
  border: 1px solid lightgray;
  outline: none;

  border-radius: 5px;
}
.passwordContainer p {
  color: rgb(152, 151, 151);
}
`, "",{"version":3,"sources":["webpack://./src/pages/Password.css"],"names":[],"mappings":"AAAA;EACE,4DAA4D;AAC9D;AACA;EACE,cAAc;EACd,YAAY;EACZ,UAAU;EACV,gBAAgB;AAClB;AACA;EACE,YAAY;EACZ,aAAa;EACb,cAAc;EACd,YAAY;AACd;;AAEA;EACE,gBAAgB;AAClB;AACA;EACE,2BAA2B;AAC7B;AACA;EACE,gBAAgB;EAChB,aAAa;EACb,sBAAsB;AACxB;AACA;EACE,gBAAgB;EAChB,aAAa;EACb,YAAY;EACZ,yBAAyB;EACzB,YAAY;EACZ,kBAAkB;EAClB,iBAAiB;EACjB,eAAe;AACjB;AACA;EACE,gBAAgB;EAChB,aAAa;EACb,2BAA2B;EAC3B,aAAa;;EAEb,kBAAkB;AACpB;AACA;EACE,yBAAyB;AAC3B","sourcesContent":["* {\n  font-family: \"Segoe UI\", Tahoma, Geneva, Verdana, sans-serif;\n}\n.passwordContainer {\n  display: block;\n  margin: auto;\n  width: 30%;\n  margin-top: 30px;\n}\n.passwordContainer img {\n  width: 100px;\n  height: 100px;\n  display: block;\n  margin: auto;\n}\n\n.passwordContainer h3 {\n  margin-top: 30px;\n}\n.passwordContainer hr {\n  border: 1px solid lightgray;\n}\n.passwordContainer  {\n  margin-top: 20px;\n  display: flex;\n  flex-direction: column;\n}\n.passwordContainer button {\n  margin-top: 20px;\n  padding: 10px;\n  border: none;\n  background-color: #1778f2;\n  color: white;\n  border-radius: 5px;\n  font-weight: bold;\n  cursor: pointer;\n}\n.passwordContainer input {\n  margin-top: 10px;\n  padding: 14px;\n  border: 1px solid lightgray;\n  outline: none;\n\n  border-radius: 5px;\n}\n.passwordContainer p {\n  color: rgb(152, 151, 151);\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {};
export default ___CSS_LOADER_EXPORT___;
